<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Công ty May Đồng Phục TH</title>
  <link type="text/css" rel="stylesheet" href="../css/list-products.css"/>
</head>

<body>
<header>
  <h1>Công ty May Đồng Phục TH</h1>
  <p>Chuyên sản xuất áo thun chất lượng cao</p>
</header>

<section id="products">
  <a href="/login">login</a>
  <h2>Sản phẩm nổi bật</h2>
  <div id="hot-products" class="list-products">
    <div class="product">
      <img src="https://pos.nvncdn.net/492284-9176/ps/20231014_HrqUH8Savu.jpeg" alt=""/>
      <span>Áo Thun X</span>
      <div class="quantity-container">
        <button class="quantity-button decrease">-</button>
        <input type="text" class="quantity-input" value="1">
        <button class="quantity-button increase">+</button>
      </div>
      <button class="add-to-cart-button" data-product-name="Áo Thun X">Thêm vào giỏ hàng</button>
    </div>
  </div>
</section>

<section id="cart">
  <h2>Giỏ hàng (<span id="cart-count">0</span>)</h2>
  <ul id="cart-items"></ul>
</section>

<section id="flash-sale">
  <h2>Flash Sale</h2>
  <div class="list-products flash-sale-products">
    <div class="product flash-sale-product">
      <img src="https://pos.nvncdn.net/492284-9176/ps/20231014_HrqUH8Savu.jpeg" alt=""/>
      <span>Áo Thun Flash Sale 1</span>
      <div class="quantity-container">
        <button class="quantity-button decrease">-</button>
        <input type="text" class="quantity-input" value="1">
        <button class="quantity-button increase">+</button>
      </div>
      <button class="add-to-cart-button" data-product-name="Áo Thun Flash Sale 1">Thêm vào giỏ
        hàng
      </button>
    </div>

    <div class="product flash-sale-product">
      <img src="https://pos.nvncdn.net/492284-9176/ps/20231014_HrqUH8Savu.jpeg" alt=""/>
      <span>Áo Thun Flash Sale 2</span>
      <div class="quantity-container">
        <button class="quantity-button decrease">-</button>
        <input type="text" class="quantity-input" value="1">
        <button class="quantity-button increase">+</button>
      </div>
      <button class="add-to-cart-button" data-product-name="Áo Thun Flash Sale 2">Thêm vào giỏ
        hàng
      </button>
    </div>

    <!-- Thêm các sản phẩm flash sale khác tương tự -->
  </div>
</section>

<section id="contact">
  <h2>Liên hệ</h2>
  <!-- Thêm mẫu liên lạc hoặc thông tin liên lạc ở đây -->
</section>

<footer>
  <!-- Thêm các liên kết và thông tin chính sách ở đây -->
  <button class="live-chat-button">Live Chat</button>
</footer>

<script type="module" src="../js/list-products.js" defer></script>
</body>

</html>
